@font-face {
    font-family: 'Google Sans';
    src: url(fonts/Google-Sans.woff2) format('woff2');
}

:root {
    --md-sys-color-background: #10131b;
    --md-sys-color-primary: hsl(223, 100%, 84%);
    --hover-color: #2c2f38;
    --md-sys-color-text: #ffffff;
    --small-text-color: #e0e2ed;
    --md-sys-color-on-surface: #ffffff;
    --md-sys-color-surface: #1c1f28;
    --option-cover-color: #414755;
    --selected: #33353a;
}

[slot="trailing-supporting-text"] {
    width: 30px;
    text-align: end;
}

* {
    color: var(--md-sys-color-text);
    font-family: 'Google Sans', 'Roboto', system-ui;
}

body {
    background-color: var(--md-sys-color-surface);
    overflow-y: hidden;
}

.container {
    display: flex;
}

main {
    position: relative;
    height: calc(100svh - 5rem);
    background-color: var(--md-sys-color-background);
    border-radius: 2rem;
    flex-grow: 1;
    margin: 15px;
    margin-top: 0px;
    justify-content: center;
}

.scrollbar-wrapper {
    overflow-y: auto;
    max-height: 100%;
    border-radius: inherit;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.scrollbar-wrapper::-webkit-scrollbar-track,
.overview::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 3rem;
}

.scrollbar-wrapper::-webkit-scrollbar-thumb,
.overview::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-primary);
    border-radius: 3rem;
}

.scrollbar-wrapper::-webkit-scrollbar-button,
.overview::-webkit-scrollbar-button {
    display: block;
    height: 10px;
    width: 10px;
}

.scrollbar-wrapper::-webkit-scrollbar,
.overview::-webkit-scrollbar {
    width: 7px;
}

section {
    padding: 2rem;
    padding-top: 0px;
}

section>h1, section>*>h1 {
    font-size: 88px;
}

section>p>a {
    text-decoration: none;
    color: var(--md-sys-color-primary);
}

.Webpage-Name {
    font-size: 22px;
    text-decoration: none;
    padding: 0px 12px;
    margin-top: 7px;
}

.Webpage-Name > b {
    color: var(--md-sys-color-primary);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

header>a {
    margin-bottom: 11px;
}

header>md-list-item {
    border-radius: 15px;
}

.navbar {
    width: 13rem;
    height: 100%;
    transition: ease-in-out 250ms;
    transition-property: width;
}

.overview {
    position: relative;
    height: calc(100svh - 9rem + 2px);
    background-color: var(--md-sys-color-background);
    border-radius: 2rem;
    margin: 15px;
    margin-top: 0px;
    padding: 2rem;
    min-width: 170px;
    overflow-y: auto;
    max-height: 100%;
    scroll-behavior: smooth;
}

.overview>p:first-child {
    font-size: 11px;
    color: var(--small-text-color);
}

.overview>h2 {
    font-size: 24px;
    margin: 8px 0px 12px;
}

.overview>ul {
    list-style-type: none;
    padding: 0px;
}

.overview>ul>li {
    margin: 8px 0px;
}

.overview>ul>li>a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

md-item {
    pointer-events: none;
}

md-list-item {
    border-radius: 2rem;
    cursor: pointer;
}

md-list-item > p {
    margin: 0px;
}

.selected {
    background-color: var(--selected);
}

.selected > p,
.selected > span {
    color: var(--md-sys-color-primary);
}

.selected > svg > defs > g > path,
.selected > svg > g {
    fill: var(--md-sys-color-primary);
}

.question {
    margin-bottom: 70px;
}

theme-changer {
    position: absolute;
    right: 10px;
    top: 4rem;
    background-color: var(--md-sys-color-surface);
    border-radius: 2rem;
    height: auto;
    z-index: 1;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

theme-changer.visible {
    opacity: 1;
    visibility: visible;
}

.theme-copy {
    display: flex;
    align-items: center;
    gap: 1px;
}

.option-cover {
    position: relative;
    background-color: var(--option-cover-color);
    border-radius: 2rem;
    height: auto;
    padding: 10px;
}

theme-option {
    display: flex;
    flex-direction: column;
}

theme-option > p {
    padding-left: 17px;
}

.hue {
    position: inherit;
    width: 11rem;
    height: 15px;
    border-radius: 2rem;
    background:linear-gradient(to right, #e7007d 0%, #e90070 1%, #ea0064 2%, #eb0057 3%, #ec044a 4%, #ec0e3d 5%, #eb162f 6%, #ea1c1f 7%, #e92207 8%, #e03400 9%, #d84200 10%, #d04b00 11%, #ca5100 12%, #c45600 13%, #bf5b00 14%, #ba5e00 15%, #b56100 16%, #b16400 17%, #ad6600 18%, #a96800 19%, #a56a00 20%, #a26c00 21%, #9e6e00 22%, #9b7000 23%, #977100 24%, #937300 25%, #907400 26%, #8c7600 27%, #887700 28%, #847800 29%, #7f7a00 30%, #7a7b00 31%, #757d00 32%, #6f7e00 33%, #698000 34%, #618200 35%, #588300 36%, #4c8500 37%, #3d8700 38%, #238a00 39%, #008b18 40%, #008a2f 41%, #008a3d 42%, #008948 43%, #008951 44%, #008858 45%, #00885f 46%, #008865 47%, #00876a 48%, #00876f 49%, #008673 50%, #008677 51%, #00867b 52%, #00857f 53%, #008583 54%, #008586 55%, #00848a 56%, #00848d 57%, #008491 58%, #008394 59%, #008398 60%, #00829c 61%, #00829f 62%, #0081a3 63%, #0081a7 64%, #0080ac 65%, #007fb1 66%, #007fb6 67%, #007ebb 68%, #007dc1 69%, #007bc8 70%, #007ad0 71%, #0078da 72%, #0075e5 73%, #0072f2 74%, #126eff 75%, #326bff 76%, #4568ff 77%, #5365ff 78%, #5f62ff 79%, #695fff 80%, #735bff 81%, #7d57ff 82%, #8653ff 83%, #8e4eff 84%, #9748ff 85%, #a040ff 86%, #aa37ff 87%, #b329ff 88%, #be0dff 89%, #c400f6 90%, #ca00ea 91%, #ce00de 92%, #d300d2 93%, #d600c6 94%, #da00ba 95%, #dd00ad 96%, #e000a1 97%, #e20095 98%, #e50089 99%);
    margin-left: 16px;
}

table {
    display: table;
    margin-top: 200px;
    border-radius: 1rem;
}

th {
    background-color: var(--md-sys-color-surface);
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    border: none;
    border-radius: 1rem;
    background-color: var(--md-sys-color-surface);
}

.card:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.img-wrapper {
    order: 0;
}

.img-wrapper > img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.img-desc {
    order: 1;
    padding: 24px;
    padding-top: 0px;
}

.img-desc > div {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    height: 60px;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.card-container > a {
    text-decoration: none;
}

.darkMode {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .navbar {
        width: 0px;
    }

    header {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    main {
        margin: auto;
        height: calc(100svh - 5rem);
    }

    section>h1 {
        font-size: 50px;
    }
}

@media (max-width: 1200px) {
    .overview {
        display: none;
    }
}

@media (max-width: 620px) {
    .card-container {
        grid-template-columns: auto;
    }
}